@import "../../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.parentcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  position: relative;
}