@import "../../variables.modules";
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Open+Sans:wght@300&display=swap');

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.parentcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  position: relative;
}
