@import "../../variables.modules";


h1 {
  font-size: 2rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}


.man {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 5%;
  animation-name: walk;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes walk {
  0% {
    margin-left: 10%;
  }
  50% {
    margin-left: 5%;
  }
  100% {
    margin-left: 10%;
  }
}


.ball {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform: rotate(0);
  left: 0;
  display: inline-block;
  position: relative;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

@keyframes roll {
0%{
  transform: rotate(0);
  left: 0;
  transition: ease-in-out;
}
50%{
  transform: rotate(360deg);
  left: 8%;
  transition: ease-in-out;
}
100%{
  transform: rotate(0);
  left: 0;
  transition: ease-in-out;
}
}



.nasapic{
  width: 700px;
  height: 700px;
  object-fit: cover;
}



.nasapictitle{
  background-color: #27C93F;
  margin-bottom: 2%;
  padding: 1.5%;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
}

.nasapicdes{
  font-size: 20px;
  color: #46ff62;
}


.centeredtext{
  text-align: center;
}
